<div class="modal-dialog block-input-customize">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">{{title || ''}}</h4>
    </div>
    <form class="form-horizontal" #editsite="ngForm" novalidate>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-icon" data-background-color="rose">
                <i class="material-icons">contacts</i>
              </div>
              <div class="card-content">
                <h4 class="card-title">Edit Site</h4>
                <div class="row">
                  <label class="col-md-3">Site Name
                    <span class="star">*</span>
                  </label>
                  <div class="col-md-9">
                    <div class="form-group label-floating is-empty">
                      <!--<label class="control-label"></label>-->
                      <input class="form-control" type="text" name="Sitename"
                             [(ngModel)]="data.name" #Sitename="ngModel" required>
                      <span class="material-input"></span></div>
                    <small *ngIf="Sitename.invalid && ( Sitename.dirty || Sitename.touched )" class="text-danger">
                      Sitename is Require
                    </small>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-offset-3 col-sm-4">
                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                      <div class="fileinput-new thumbnail">
                        <img src="{{result}}" alt="..."
                             *ngIf="result">
                      </div>
                      <div class="fileinput-new thumbnail">
                        <img src="{{imagepath}}/{{data.image}}" alt="..." *ngIf="data && !result">
                      </div>
                      <div class="fileinput-preview fileinput-exists thumbnail"></div>

                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div>
                                        <span class="btn btn-rose btn-round btn-file" *ngIf="!data">
                                            <span class="fileinput-new">Select image</span>
                                            <input type="file" accept="image/*" (change)="getimage($event)"/>
                                        </span>
                      <span class="btn btn-rose btn-round btn-file" *ngIf="data">
                                            <span class="fileinput-new">Change</span>
                                            <input type="file" name="..." accept="image/*" (change)="getimage($event)"/>
                                        </span>
                      <span class="btn btn-danger btn-round btn-file" *ngIf="data">
                                            <span class="fileinput-new"> Remove </span>
                                            <input type="button" name="..."/>
                                        </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="category form-category">
                                        <span><b>Note :</b><i
                                                class="star">* &nbsp;</i> is Define Required fields </span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" [disabled]="!editsite.valid" class="btn btn-primary" (click)="save()">OK</button>
            <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>