<div class="modal-dialog block-input-customize ">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">{{title || ''}}</h4>
    </div>
    <form class="form-horizontal" #createsite="ngForm" novalidate>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-icon" data-background-color="rose">
                <i class="material-icons">contacts</i>
              </div>
              <div class="card-content">
                <h4 class="card-title">New Site</h4>
                <div class="row">
                  <label class="col-md-3">Site Name
                    <span class="star">*</span>
                  </label>
                  <div class="col-md-9">
                    <div class="form-group label-floating is-empty">
                      <input class="form-control" type="text" name="sitename"
                             [(ngModel)]="Sitename" #sitename="ngModel" required>
                      <span class="material-input"></span></div>
                    <small *ngIf="sitename.invalid && ( sitename.dirty || sitename.touched )" class="text-danger">
                      Sitename is Require
                    </small>
                  </div>
                  </div>
                <div class="row">
                    <div class="col-md-offset-3 col-sm-4">
                      <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                        <div class="fileinput-new thumbnail">
                          <img src="../../assets/img/image_placeholder.jpg" alt="..."
                               *ngIf="!result">
                        </div>
                        <div class="fileinput-new thumbnail">
                          <img src="{{result}}" alt="..." *ngIf="result">
                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail"></div>

                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div>
                                        <span class="btn btn-rose btn-round btn-file" *ngIf="!result">
                                            <span class="fileinput-new">Select image</span>
                                            <input type="file" accept="image/*" (change)="getimage($event)"/>
                                        </span>
                        <span class="btn btn-rose btn-round btn-file" *ngIf="result">
                                            <span class="fileinput-new">Change</span>
                                            <input type="file" name="..." accept="image/*" (change)="getimage($event)"/>
                                        </span>
                        <span class="btn btn-danger btn-round btn-file" *ngIf="result">
                                            <span class="fileinput-new"> Remove </span>
                                            <input type="button" name="..." (click)="removeImage()" />
                                        </span>
                      </div>
                    </div>
                  </div>
                <div class="row">
                  <div class="category form-category">
                                        <span><b>Note :</b><i
                                                class="star">* &nbsp;</i> is Define Required fields </span></div>
                </div>

              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" [disabled]="!createsite.valid" class="btn btn-primary" (click)="OnSubmit()">OK</button>
            <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>