<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="rose">
                    <i class="material-icons">assignment</i>
                </div>
                <div class="card-header card-header-icon pull-right" data-background-color="rose" (click)="add()">
                    <i class="material-icons">add</i>
                </div>
                <div class="card-content">

                    <h4 class="card-title">Packs</h4>
                    <div class="material-datatables table-responsive">
                        <table id="datatables" class="table table-striped table-no-bordered table-hover"
                               cellspacing="0" width="100%" style="width:100%">
                            <thead>
                            <tr>
                                <th>{{ dataTable.headerRow[0] }}</th>
                                <th>{{ dataTable.headerRow[1] }}</th>
                                <th>{{ dataTable.headerRow[2] }}</th>
                                <th>{{ dataTable.headerRow[3] }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let row of dataTable.dataRows">
                                <td>{{row.name}}</td>
                                <td>{{row.language}}</td>
                                <td>
                                    <button class="btn btn-simple btn-info btn-icon like" rel="tooltip" title="Add"
                                            data-placement="left" (click)="Newaudio(row)">
                                        <i class="material-icons">add</i>
                                    </button>
                                    <button class="btn btn-simple btn-warning btn-icon edit" rel="tooltip" title="Edit"
                                            data-placement="left" (click)="EditPack(row)">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button class="btn btn-simple btn-danger btn-icon remove" rel="tooltip" title="Remove"
                                            data-placement="left" (click)="DeletePack(row)">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-simple btn-danger btn-icon remove" rel="tooltip" title="Remove"
                                            data-placement="left" (click)="TotalAudio(row.sites , row._id)">
                                        <!--<i class="material-icons">delete</i>-->
                                        <i>{{row.sites.length}}</i>
                                    </button>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<script type="text/javascript">-->
    <!--jQuery(document).ready(function(){-->
        <!--jQuery('.dropdown-toggle').click(function() {-->
            <!--debugger;-->
            <!--jQuery('.bootstrap-select').toggleClass('open');-->
        <!--});-->
    <!--});-->
<!--</script>-->