<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="rose">
                    <i class="material-icons">assignment</i>
                </div>
                <div class="card-header card-header-icon pull-right" data-background-color="rose" (click)="add()">
                    <i class="material-icons">add</i>
                </div>
                <div class="card-content">

                    <h4 class="card-title">Packs</h4>
                   <div class="material-datatables table-responsive">
                        <table id="datatables" class="table table-striped table-no-bordered table-hover"
                               cellspacing="0" width="100%" style="width:100%">
                            <thead>
                            <tr>
                                <th>{{ datatable.headerRow[0] }}</th>
                                <th>{{ datatable.headerRow[1] }}</th>
                                <th>{{ datatable.headerRow[2] }}</th>
                                <th>{{ datatable.headerRow[3] }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let row of datatable.dataRows;  let i = index">
                                <td>{{row[0]}}</td>
                                <td>{{row[1]}}</td>
                                 <td>
                                    <button rel="tooltip" type="button" ng-reflect-class-name="btn btn-success"
                                            class="btn btn-primary" (click)="Newaudio(row)">
                                        <i class="material-icons">add</i>
                                    </button>
                                </td>
                                <td>
                                    <button rel="tooltip" type="button" ng-reflect-class-name="btn btn-info"
                                            class="btn btn-danger" (click)="TotalAudio(i)">
                                        <i>{{i}}</i>
                                    </button>
                                </td>
                                <!--<div *ngFor="let c of co; let j = index">-->
                                    <!--<ng-template #elseblock>-->
                                        <!--0-->
                                    <!--</ng-template>-->
                                    <!--<td *ngIf="j === i+1">-->
                                    <!--<button rel="tooltip" type="button" ng-reflect-class-name="btn btn-info"-->
                                            <!--class="btn btn-danger" (click)="TotalAudio(i)">-->
                                        <!--<i *ngIf="c; else elseblock">{{c}}</i>-->
                                    <!--</button>-->
                                    <!--</td>-->
                                <!--</div>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<script type="text/javascript">-->
    <!--jQuery(document).ready(function(){-->
        <!--jQuery('.dropdown-toggle').click(function() {-->
            <!--debugger;-->
            <!--jQuery('.bootstrap-select').toggleClass('open');-->
        <!--});-->
    <!--});-->
<!--</script>-->